.jobs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: inherit;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 4vh 0;
}

.jobs-list {
	list-style-type: none;
	padding: 0;
}

.job-thumbnail {
	display: flex;
	text-align: left;
	font-weight: 400;
	width: 85vw;
	cursor: pointer;
	margin: 1vh 0;
	justify-content: space-between;
	background-image: linear-gradient(to bottom, #0a5472, #9fb1c6);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: 8.5vh;
}

@media screen and (min-width: 600) {
	.job-thumbnail {
		margin: 0 15vw;
	}
}

.job-name {
	flex-grow: 3;
	font-size: 2em;
	margin: 0 4vw;
	color: #0a3557;
}

@media screen and(min-width: 600) {
		.job-name {
		font-size: 8em;
	}
}

.delete-button {
	align-self: flex-end;
	margin: 1vh 2vw;
}

.capitalize {
	text-transform: capitalize;
}