.shift {
	text-align: left;
	border: 1px solid #ccc;
	width: 100vw;
	height: 80vh;
	z-index: 65;
	position: fixed;
	margin: 20vh 0 0 0;
	background-color: #e6ffff;
	overflow-y: hidden;
}

.buttonDiv {
	text-align: center;
	font-weight: bold;
	margin: 1vh 0;
	border: 1px solid #ccc;
	height: 5vh;
}

.flexDiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.nameDiv {
	flex-grow: 3;
}

.editDiv {
	flex-grow: 0;
	padding: 1vh 1vw;
}

.margin {
	margin: 2vh 2vw;
}