.shift {
	text-align: left;
    width: 100vw;
    height: 62vh;
    z-index: 65;
    position: fixed;
    margin: 31vh 0 0 0;
    background-image: linear-gradient(to RIGHT, #A3B4C8, #CFD8E2);
    overflow-y: auto;
    font-size: 1.1em;
}

.buttonDiv {
    text-align: center;
    font-weight: bold;
    margin: 1vh 0;
    border: 1px solid #ccc;
    height: 5vh;
}

.shift-flex-div {
    display: flex;
    flex-direction: row;
	justify-content: flex-start;
	background-image: linear-gradient(to bottom, #0a5472, #9fb1c6);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: 7vh;
	border-radius: 5px;
	padding: 1.5vh 3vw;
	font-weight: bold;
	text-transform: capitalize;
}

.shift-button-text {
    font-weight: bold;
    font-size: 1.15em;
    text-transform: capitalize;
}

.nameDiv {
	flex-grow: 3;
}

.editDiv {
    flex-grow: 0;
    padding: 1vh 1vw;
}

.margin {
    margin: 2vh 2vw;
}