.addJob {
	height: 80vh;
	width: 100vw;
	position: fixed;
	z-index: 100;
	background-color: #b3ffff;
}

.background {
	opacity: 0.1;
	height: 20vh;
	width: 100vw;
	background-color: #ccc;
	position: fixed;
	z-index: 90;
	bottom: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #c3ffff;
	border: 1px solid #ccc;
	height: 7vh;
	width: 100vw;
	text-align: center
}

.margin {
	margin: 1vh 2vw;
}

.user-name {
	margin: 3vh 0 0 0;
	font-weight: bold;
	text-transform: capitalize
}

.title {
	font-weight: bold;
}

.submit-button {
	border: 1px solid #ccc;
	height: 5vh;
	width: 100vw;
	text-align: center;
	margin: .5vh 0;
}

.diffBox {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	flex-flow: row;
	align-items: baseline;
}

.diffDiv {
	width: 33vw;
	margin: 0;
	order: 1;
}

.diffList {
	width: 100vw;
	height: 4vh;
	margin: 1px 0;
	order: 1;
	list-style: none;
}

.add-button {
	right: 0;
	position: absolute;
	border: 1px solid #ccc;
	color: #5c7373;
	border-radius: 10%;
	padding: 3px;
}

.minus-button {
	border: 1px solid #ccc;
	color: #5c7373;
	border-radius: 10%;
	padding: 3px;
	align-self: flex-start;
}

.diffInput {
	width: 30vw;
}