.user {
	width: 100vw;
	font-weight: 700;
	z-index: 0;
	position: absolute;
	cursor: pointer;
}

.buttonDiv {
	text-align: center;
	font-weight: bold;
	margin: 1vh 0;
	border: 1px solid #ccc;
	height: 5vh;
}

.flexDiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.userName {
	flex-grow: 3;
}

.editDiv {
	flex-grow: 0;
}

.capitalize {
	text-transform: capitalize;
}

.margin {
	margin: 2vh 2vw;
}