.user {
	width: 100vw;
	font-weight: 700;
	z-index: 0;
	position: absolute;
	cursor: pointer;
}

.add-job-button {
	text-align: center;
	font-weight: bold;
	background-image: linear-gradient(to bottom, #0a5472, #9fb1c6);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	font-size: 1.7em;
	min-height: 8vh;
	padding: 0.5vh 0;
}

.flexDiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	height: 8vh;
}

.userName {
	flex-grow: 3;
	font-size: 2em;
}

.editDiv {
	flex-grow: 0;
}

.capitalize {
	text-transform: capitalize;
}

.margin {
	margin: 2vh 2vw;
}