.period {
    text-align: left;
    border: 1px solid #ccc;
    width: 100vw;
    height: 85vh;
    z-index: 60;
    position: fixed;
    margin: 24vh 0 0 0;
    background-image: linear-gradient(to RIGHT, #A3B4C8, #CFD8E2);
    overflow-y: hidden;
    font-size: 1.1em;
}

.a-button {
    background-image: linear-gradient(to bottom, #0a5472, #9fb1c6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 7vh;
    border-radius: 5px;
    padding: 1.5vh 3vw;
    font-weight: bold;
    text-transform: capitalize;
}

.center-text {
    text-align: center;
}

.flex-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.shift-list {
    list-style-type: none;
	padding: 0;
}

.shift-thumbnail {
    padding: 0 4vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
	background-color: #9fb1c6;
	margin: 0.5vh 0;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.period-name-div {
	flex-grow: 3;
}

.editDiv {
    flex-grow: 0;
    padding: 1vh 1vw;
}

.shiftHeader {
    padding: 1vh 0;
}

.headerDate {
    flex-grow: 1;
}

.headerPay {
    flex-grow: 2;
}

.margin {
    margin: 2vh 2vw;
}

.period-button-text {
	margin: 1vh 0;
    font-weight: bold;
    font-size: 1.15em;
    text-transform: capitalize;
}