.period {
	text-align: left;
	border: 1px solid #ccc;
	width: 100vw;
	height: 85vh;
	z-index: 60;
	position: fixed;
	margin: 15vh 0 0 0;
	background-color: #b3ffff;
	overflow-y: hidden;
}

.buttonDiv {
	text-align: center;
	font-weight: bold;
	margin: 1vh 0;
	border: 1px solid #ccc;
	height: 5vh;
}

.flexDiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.nameDiv {
	flex-grow: 3;
}

.editDiv {
	flex-grow: 0;
	padding: 1vh 1vw;
}

.shiftHeader {
	display: flex;
}

.headerDate {
	flex-grow: 1;
}

.headerPay {
	flex-grow: 2;
}

.shift-list {
	list-style-type: none;
}

.margin {
	margin: 2vh 2vw;
}