.weeks {
	text-align: left;
	border: 1px solid #ccc;
	width: 100vw;
	height: 88vh;
	z-index: 55;
	position: fixed;
	margin: 10vh 0 0 0;
	background-color: #e6ffff;
	overflow-y: hidden;
}

.weeksDiv {
	border: 1px solid #ccc;
	width: 100vw;
	height: 69vh;
}

.margin {
	margin: 2vh 2vw;
}