.add {
	height: 65vh;
	width: 100vw;
	position: fixed;
	z-index: 100;
	background-color: #b3ffff;
}

.background {
	opacity: 0.1;
	height: 50vh;
	width: 100vw;
	background-color: #ccc;
	position: fixed;
	z-index: 90;
	bottom: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #c3ffff;
	border: 1px solid #ccc;
	height: 7vh;
	width: 100vw;
	text-align: center
}

.capitalize {
	text-transform: capitalize;
}

.margin {
	margin: 1vh 2vw;
}

.name {
	margin: 3vh 0 0 0;
	font-weight: bold;
}

.title {
	font-weight: bold;
}

.submit-button {
	border: 1px solid #ccc;
	height: 5vh;
	width: 100vw;
	text-align: center;
	margin: .5vh 0;
}