.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 7vh;
}

.back-button {
  margin: 1vh;
  color: #022E51;
  cursor: pointer;
}

.logout-button {
  margin: 0;
  align-self: flex-end;
  color: #022E51;
  cursor: pointer;
}

.nav-toggle {
  color: #022E51;
  cursor: pointer;
}

.nav-extra {
	width: 100vw;
	margin: 0;
  background-image: linear-gradient(to bottom, #0a5472, #a3b4c8);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  cursor: pointer;
  width: 60px;
  height: inherit;
}
