.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 7vh;
}

.back-button-div {
  border: 1px solid #ccc;
}

.back-button {
  margin: 1vh;
}

.logout-button {
  margin: 0;
  align-self: flex-end;
}

.nav-extra {
	width: 100vw;
	margin: 0;
  background-color: #b3ffff;
  border: 1px solid #ccc;
}

.container {
  cursor: pointer;
  width: 60px;
  height: inherit;
}
